USE [EventosAcademicos]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 03/04/2026 20:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[EventoID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Descricao] [text] NULL,
	[DataInicio] [date] NULL,
	[DataFim] [date] NULL,
	[Local_E] [varchar](100) NOT NULL,
	[Cidade] [varchar](100) NOT NULL,
	[Capacidade] [int] NOT NULL,
	[PrecoInscricao] [decimal](10, 2) NOT NULL,
	[TipoEvento] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscricoes]    Script Date: 03/04/2026 20:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscricoes](
	[InscricaoID] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteID] [int] NOT NULL,
	[EventoID] [int] NOT NULL,
	[DataInscricao] [datetime2](0) NOT NULL,
	[StatusPagamento] [varchar](20) NOT NULL,
	[ValorPago] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InscricaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Insc_Part_Ev] UNIQUE NONCLUSTERED 
(
	[ParticipanteID] ASC,
	[EventoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oradores]    Script Date: 03/04/2026 20:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oradores](
	[OradorID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](80) NOT NULL,
	[Email] [varchar](65) NULL,
	[Especialidade] [varchar](95) NULL,
	[Instituicao] [varchar](50) NULL,
	[Cidade] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OradorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Or_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participantes]    Script Date: 03/04/2026 20:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participantes](
	[ParticipanteID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](60) NULL,
	[Telefone] [varchar](20) NULL,
	[Instituicao] [varchar](200) NULL,
	[DataRegisto] [datetime2](0) NOT NULL,
	[DataNascimento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParticipanteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Telefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Part_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessoes]    Script Date: 03/04/2026 20:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessoes](
	[SessaoID] [int] IDENTITY(1,1) NOT NULL,
	[EventoID] [int] NOT NULL,
	[OradorID] [int] NOT NULL,
	[Titulo] [varchar](60) NOT NULL,
	[DataHoraInicio] [datetime2](0) NOT NULL,
	[DataHoraFim] [datetime2](0) NOT NULL,
	[Sala] [varchar](50) NULL,
	[TipoSessao] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Eventos] ADD  CONSTRAINT [DF_Ev_Preco]  DEFAULT ((0.00)) FOR [PrecoInscricao]
GO
ALTER TABLE [dbo].[Eventos] ADD  CONSTRAINT [DF_Ev_Tipo]  DEFAULT ('Conferencia') FOR [TipoEvento]
GO
ALTER TABLE [dbo].[Inscricoes] ADD  CONSTRAINT [DF_Insc_Data]  DEFAULT (sysdatetime()) FOR [DataInscricao]
GO
ALTER TABLE [dbo].[Inscricoes] ADD  CONSTRAINT [DF_Insc_Est]  DEFAULT ('Pendente') FOR [StatusPagamento]
GO
ALTER TABLE [dbo].[Inscricoes] ADD  CONSTRAINT [DF_Insc_Val]  DEFAULT ((0.00)) FOR [ValorPago]
GO
ALTER TABLE [dbo].[Participantes] ADD  CONSTRAINT [DF_Part_Data]  DEFAULT (sysdatetime()) FOR [DataRegisto]
GO
ALTER TABLE [dbo].[Sessoes] ADD  CONSTRAINT [DF_Sess_Tipo]  DEFAULT ('Palestra') FOR [TipoSessao]
GO
ALTER TABLE [dbo].[Inscricoes]  WITH CHECK ADD  CONSTRAINT [FK_Insc_Evento] FOREIGN KEY([EventoID])
REFERENCES [dbo].[Eventos] ([EventoID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Inscricoes] CHECK CONSTRAINT [FK_Insc_Evento]
GO
ALTER TABLE [dbo].[Inscricoes]  WITH CHECK ADD  CONSTRAINT [FK_Insc_Part] FOREIGN KEY([ParticipanteID])
REFERENCES [dbo].[Participantes] ([ParticipanteID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inscricoes] CHECK CONSTRAINT [FK_Insc_Part]
GO
ALTER TABLE [dbo].[Sessoes]  WITH CHECK ADD  CONSTRAINT [FK_Sess_Evento] FOREIGN KEY([EventoID])
REFERENCES [dbo].[Eventos] ([EventoID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sessoes] CHECK CONSTRAINT [FK_Sess_Evento]
GO
ALTER TABLE [dbo].[Sessoes]  WITH CHECK ADD  CONSTRAINT [FK_Sess_Orador] FOREIGN KEY([OradorID])
REFERENCES [dbo].[Oradores] ([OradorID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sessoes] CHECK CONSTRAINT [FK_Sess_Orador]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [CK_Ev_Capacidade] CHECK  (([Capacidade]>(0)))
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [CK_Ev_Capacidade]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [CK_Ev_Datas] CHECK  (([DataFim]>=[DataInicio]))
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [CK_Ev_Datas]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [CK_Ev_Preco] CHECK  (([PrecoInscricao]>=(0)))
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [CK_Ev_Preco]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [CK_Ev_Tipo] CHECK  (([TipoEvento]='Congresso' OR [TipoEvento]='Simposio' OR [TipoEvento]='Seminario' OR [TipoEvento]='Workshop' OR [TipoEvento]='Conferencia'))
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [CK_Ev_Tipo]
GO
ALTER TABLE [dbo].[Inscricoes]  WITH CHECK ADD  CONSTRAINT [CK_Insc_StatusPagamento] CHECK  (([StatusPagamento]='Cancelad0' OR [StatusPagamento]='Pendente' OR [StatusPagamento]='Pago'))
GO
ALTER TABLE [dbo].[Inscricoes] CHECK CONSTRAINT [CK_Insc_StatusPagamento]
GO
ALTER TABLE [dbo].[Inscricoes]  WITH CHECK ADD  CONSTRAINT [CK_Insc_Valor] CHECK  (([ValorPago]>=(0)))
GO
ALTER TABLE [dbo].[Inscricoes] CHECK CONSTRAINT [CK_Insc_Valor]
GO
ALTER TABLE [dbo].[Participantes]  WITH CHECK ADD  CONSTRAINT [UQ_Part_DataNascimento] CHECK  (([DataNascimento]<getdate()))
GO
ALTER TABLE [dbo].[Participantes] CHECK CONSTRAINT [UQ_Part_DataNascimento]
GO
ALTER TABLE [dbo].[Participantes]  WITH CHECK ADD  CONSTRAINT [UQ_Part_Telefone] CHECK  ((len([Telefone])=(9) OR [Telefone] IS NULL))
GO
ALTER TABLE [dbo].[Participantes] CHECK CONSTRAINT [UQ_Part_Telefone]
GO
ALTER TABLE [dbo].[Sessoes]  WITH CHECK ADD  CONSTRAINT [CK_Sess_Datas] CHECK  (([DataHoraFim]>[DataHoraInicio]))
GO
ALTER TABLE [dbo].[Sessoes] CHECK CONSTRAINT [CK_Sess_Datas]
GO
ALTER TABLE [dbo].[Sessoes]  WITH CHECK ADD  CONSTRAINT [CK_Sess_Tipo] CHECK  (([TipoSessao]='Poster' OR [TipoSessao]='Mesa Redonda' OR [TipoSessao]='Painel' OR [TipoSessao]='Workshop' OR [TipoSessao]='Palestra'))
GO
ALTER TABLE [dbo].[Sessoes] CHECK CONSTRAINT [CK_Sess_Tipo]
GO
